body{
	background-color:#DDD;
}
nav{
	max-width: 900px;
	margin:auto;
}
#blog-wrapper{
	max-width: 900px;
	margin:auto;
	background-color:white;
	overflow:hidden;
	padding:1%;
	border-radius: 10px;
	border:1px solid #8f8f8f;
}

#header{
	border-radius: 10px;
	overflow:hidden;
	margin-bottom:15px;
}

#header .header-text{
	font-size: 30px;
	color:black;
	float: left;
	font-family: 'Montserrat';
}
#header .header-text div{
	font-size:15px;
	padding-left: 2%;
}

#header .header-text h1{
	margin:0px;
	color: #0099ff;
}

#header .search-bar{
	float:right;
	margin:3% 1% 0%;
}

#main-container{
	width:74%;
	float:left;
	margin-right: 1%;
}

#right-rail{
	width:24%;
	float:right;
	margin-left: 1%;
}

.flexslider img{
	width: 100%;
	height: 100%;
}

.blog-item-header{
	border-bottom: 1px solid gray;
	padding-top: 1%;
}
.blog-item-header .blog-author{
	padding-bottom: 1%;
	padding-left:2%;
	font-size: 15px;
	font-family: 'PT Sans Narrow';
}

.blog-item-header h3{
	margin-bottom:1%;
	font-size: 25px;
	color: #0099ff;
	font-family: 'Montserrat';
}

#right-rail .right-rail-item{
	background-color:#DDD;
	border:1px solid #8f8f8f;
	border-radius: 10px;
	margin-bottom: 30px;
	padding:0px 10px;
}

#right-rail .right-rail-item h5{
	margin:1% 0% 3%;

}

#right-rail .right-rail-item ul{
	margin:3% 0% 0%;
	padding-left: 1%
}
#right-rail .right-rail-item li{
	font-size: 12px;
	padding:2% 0%;
	font-family: 'PT Sans Narrow';
	list-style:none;
	text-align: left;

}

.blog-item-body{
	padding-top: 1%;
	font-family: 'PT Sans Narrow'
}
.flex-caption {
  width: 100%;
  padding: 2%;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font-size: 14px;
  line-height: 18px;
}

.flex-control-nav{
	width: 100%;
	position: absolute;
	left:-100px;
	bottom: 50px;
	text-align:center;
	margin-left:0px;
}
img{
	margin:auto;
	width:100%;
	height:100%;
}
.control-nav li{
	display:inline-block;
	margin: 0px 6px;
	zoom:1;
}
.flexslider .flex-control-nav li{
	width: 11px;
	height: 11px;
	display: inline-block;
	background: #666;
	background: rgba(0,0,0,.5);
	cursor: pointer;
	text-indent: -9999px;
	border-radius: 20px;
	margin:5px;
}
.flex-viewport{
	height:100%;
	width:100%;

}
.clone{
	display:none;
}
.flex-next{
	position:relative;
	left:85%;
}
.flex-prev{
	display:left-arrow;
}
.flex-nav-prev, .flex-nav-next{
	list-style: none;
	display:inline;
}










